# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/
*.sqlite3
*.db

# VS Code
.vscode/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db

# Flask/Migrations
instance/
migrations/
*.log

# Images/uploads (optional, if you don't want to track user uploads)
static/images/